{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated and song.musician == user %}

<!-- Information about who is logged in -->
<div class="row">
    <div class="col text-dark">
        <p class="text-center">You are logged in as {{ user }}</p>
    </div>
</div>

<!-- Song information with "Edit"- and "Delete"-buttons -->
<div class="row mx-5">
    <div class="col russet white text-center py-2 my-3">Alright, let's practice:</div>
</div>
<div class="row mx-5 justify-content-center">
    <div class="col-12 col-md-6 my-3">
        <h2 class="dark">{{ song.title }}</h2>
        <h3 class="dark">by {{ song.composer }}</h3>
        <h4 class="dark">arranged by {{ song.arranger }}</h4>
    </div>
    <div class="col-12 col-md-6 my-3">
        <div class="dark">Additional information:
            <p>{{ song.info | linebreaks }}</p>
        </div>
        <p class="dark">Tempo: {{ song.target_bpm }} bpm</p>
        <p class="dark">Added on {{ song.created_on }}</p>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <a class="btn btn-secondary" href="{% url 'song_edit' song.id %}">Edit song</a>
        <a class="btn russet white" href="{% url 'song_delete_warning' song.id %}">Delete song</a>
    </div>
</div>
{% else %}

<!-- Message for unauthorised users -->
<div class="row">
    <div class="col russet">
        <div class="white">Sorry, but you are not authorised to view this song...</div>
    </div>
</div>
{% endif %}

{% endblock content %}