{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}


{% if user.is_authenticated %}
<div class="row">
    <div class="col text-dark">
        <p class="text-center">You are logged in as {{ user }}</p>
    </div>
</div>

<!-- Add a new song form -->
<div class="row mx-3 mx-md-0 justify-content-center">
    <div class="col-12 col-md-9 col-lg-6 ">
        <h2 class="russet white mt-3 text-center py-2">Add a new song</h2>
        <form id="addSongForm" method="post">
            {{ add_song_form | crispy }}
            {% csrf_token %}
            <div class="text-center">
                <button class="btn btn-secondary" type="submit">Add song</button>
            </div>
        </form>
        <div class="text-right">*required</div>
    </div>
</div>
<div class="row mx-5">
    <div class="col russet mt-5 py-2">
        <h2 class="white text-center">Your Repertoire</h2>
    </div>
</div>
<div class="row">
    <div class="col mx-5 my-4 text-center">
        <p>
            Pick a song you'd like to rehearse or see more information about.<br>
            Don't forget to warm-up as necessary!
        </p>
    </div>
</div>

<!-- Song list -->
{% for song in songs %}
{% if song.musician == user %}
<div class="row mx-5 my-3">
    <div class="col-md-6 russet align-content-center">
        <a class="link-white white" href="{% url 'song_rehearsal' song.id %}">
            <h3 class="text-center">{{song.title}}</h3>
        </a>
    </div>
    <div class="col-md-6 mt-2">
        <p>by {{song.composer}}</p>
        <p>Arranged by {{song.arranger}}</p>
    </div>
</div>
{% endif %}
{% endfor %}
{% else %}

<!-- Message for not logged-in visitors -->
<div class="row mx-3 mx-md-0 justify-content-center">
    <div class="col-12 col-md-9 col-lg-6 russet pt-2 my-3">
        <p class="text-center white">Repertoire Rehearsal is the place where you can collect all your ready-to-perform
            musical pieces. Your
            central database with
            all the information about the piece you think you need, as well as performance notes to get it right on the
            first go!</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="text-russet font-weight-bold text-center my-5">Sorry, you are currently not logged in<br>Please log
            in to see your repertoire.</div>
    </div>
</div>
{% endif %}

{% endblock %}