{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated and song.musician == user %}

<!-- Information about who is logged in -->
<div class="row">
    <div class="col text-dark">
        <p class="text-center">You are logged in as {{ user }}</p>
    </div>
</div>

<!-- Warning message-->
<div class="row justify-content-center">
    <div class="col-4 russet white font-weight-bold text-uppercase p-3 text-center">DELETE SONG?</div>
</div>
<div class="row">
    <div class="col russet white text-center py-2 mx-5 my-3">This can not be undone!<br>Do you really want to delete this song:</div>
</div>

<!-- Song information with "Yes"- and "No"-buttons -->
<div class="row mx-5 justify-content-center">
    <div class="col-12 col-md-6 my-3">
        <h2 class="dark">{{ song.title }}</h2>
        <h3 class="dark">by {{ song.composer }}</h3>
        <h4 class="dark">arranged by {{ song.arranger }}</h4>
    </div>
    <div class="col-12 col-md-4 mx-5 my-3">
        <div>Additional information:
            <p>{{ song.info | safe }}</p>
        </div>
        <p>Tempo: {{ song.target_bpm }} bpm</p>
        <p>Added on {{ song.created_on }}</p>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <a class="btn russet white" href="{% url 'song_delete' song.id %}">Yes</a>
        <a class="btn btn-secondary" href="{% url 'song_rehearsal' song.id %}">No</a>
    </div>
</div>
{% else %}

<!-- Message for unauthorised users -->
<div class="row">
    <div class="col russet">
        Sorry, but you are not authorised to delete this song...

    </div>
</div>
{% endif %}

{% endblock content %}