{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Repertoire Rehearsal">
    <meta name="keywords" content="musical repertoire, song repertoire, song book, performance-ready, practice coach">

    <!-- Title -->
    <title>Repertoire Rehearsal</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="container-fluid">

        <!-- Announcements -->
        <div class="row mx-lg-5">
            <div class="col-12 justify-content-center text-center alert alert-warning pb-0 pt-1">
                <p><strong>Coming soon:</strong><br>Our Practice Coach will help you get pieces performance-ready even
                    faster!
                </p>
            </div>
        </div>

        <!-- Title & Navbar-->
        <div class="row mx-lg-5">
            <div class="col-12 justify-content-center russet white">
                <header>
                    <h1 class="text-center py-2 lato">Repertoire Rehearsal</h1>
                </header>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg justify-content-center sticky-top bg-white">
            <ul class="nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link dark link-dark" aria-current="page" href="{% url 'repertoire' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dark link-dark {% if request.path == logout_url %}active{% endif %}"
                        aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link dark link-dark" aria-current="page" href="{% url 'repertoire' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dark link-dark {% if request.path == signup_url %}active{% endif %}"
                        aria-current="page" href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dark link-dark {% if request.path == login_url %}active{% endif %}"
                        aria-current="page" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <div class="row">
            <div class="col dark">
                <p class="text-center">Welcome to Repertoire Rehearsal, your library of performance-ready songs!</p>
            </div>
        </div>

        <!-- Messages -->
        {% for message in messages %}
        <div class="row">
            <div class="col-12">
                <div class="alert {{ message.tags }} alert-dismissible fade show text-russet text-center" id="msg"
                    role="alert">
                    {{ message | safe }}
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Main content -->
        <main>
            {% block content %}
            <!-- Content goes here -->
            {% endblock content %}
        </main>

        <!-- Footer -->
        <footer class="fixed-bottom">
            <div class="row mx-lg-5">
                <div class="col-12 justify-content-center russet white">
                    <p class="text-center pt-3">Meet other musicians on our social plattforms:</p>
                    <p class="text-center py-1 font-weight-bold">Coming soon...</p>
                </div>
            </div>
        </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

</body>

</html>